.item-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1326px;
  margin-bottom: 20px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #EDFF01;
  box-shadow: 0 0 16px 2px #EDFF01;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.396);
  width: 188px;
  height: 355px;
  margin: 13px;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

.item-sprite {
  width: auto;
  height: 100px; 
  margin-top: 6px;
  margin-bottom: 6px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #FFFFFF;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-button {
  background-color: #333333;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-button:hover {
  background-color: #555555;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.page-status {
  color: #EDFF01;
  margin-left: 20px;
  font-size: 16px;
}
